@import "base"
* 
	margin: 0
	padding: 0 
	//box-shadow: 0 0 0 1px $red
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
body
	-webkit-transition: -webkit-transform .3s linear 
	-moz-transition: -moz-transform .3s linear
	-o-transition: -o-transform .3s linear
	transition: transform .3s linear
	font-family: 'Open Sans', Arial, Tahoma, sans-serif
	font-weight: normal 
	font-size: 13px
	line-height: 1.4
	+rt(720)
		background: #f1f3f5 
	//-webkit-transform: translate3d(0,0,0)
	//-weblit-backface-visibility: hidden
// resets
a img, fieldset 
	border: none
a
	color: $blue 
	text-decoration: none
	&:hover
li 
	list-style: none
textarea, button, select, input
	border: 0
	outline: none
	font-family: 'Open Sans', Arial, Tahoma, sans-serif
button 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.menu-open, .settings-open
	.wrap
		overflow: visible
.menu-open
	overflow: hidden 	
	+rt(720)
		-webkit-transform: translate3d(80%, 0, 0)
		-moz-transform: translate3d(80%, 0, 0)
		transform: translate3d(80%, 0, 0)		
.settings-open
	overflow: hidden 	
	+rt(720)
		-webkit-transform: translate3d(-80%, 0, 0)
		-moz-transform: translate3d(-80%, 0, 0)
		transform: translate3d(-80%, 0, 0)		
.wrap
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -60px
	+rt(720)
		background: #fff 
		margin: 0 auto -36px
		overflow: hidden
.wrap__in, .footer__in
	position: relative
	width: 1150px
	margin: 0 auto
	+rt(1200)
		width: auto
.push
	height: 60px
	clear: both
	+rt(720)
		height: 36px
.title-wrap
	position: relative
	margin-bottom: 30px
	border-bottom: 3px solid $bc 
	+clr
	.checkbox, .link
		float: right
		+rt(720)
			display: none
	.link
		margin-top: 3px
	+rt(720)
		margin-bottom: 10px
		padding: 0 10px 
		background: #f1f3f5
		border: none
		.title
			height: 30px
			padding: 0
			overflow: hidden
			line-height: 30px
			font-size: 10px
.dropdown
	display: none
	float: right
	margin-right: -10px
	&.is-open
		.dropdown__down
			display: block
		.dropdown__head
			background: #FFF 
			.arr
				border-width: 0 4px 4px 4px
				border-color: transparent transparent #7da7d9 transparent
	+rt(720)
		display: block
.dropdown__head
	position: relative
	height: 30px
	padding: 0 10px 0 15px
	line-height: 30px 
	font-size: 10px
	color: #7da7d9
	cursor: pointer
	+no-sel 
	.arr
		margin: 0 0 2px 5px 
		border-color: #7da7d9 transparent transparent transparent
.dropdown__down
	display: none	
	position: absolute
	top: 100%
	left: 0
	right: 0
	background: #FFF
	font-size: 0 
	font-weight: 600 
	z-index: 1000 
	& > ul
		border-bottom: 1px solid $bc
		& > li
			display: inline-block
			width: 31.3%
			margin-left: 3% 
			padding: 0
			vertical-align: top
			font-size: 9px
			&:first-child
				margin: 0
	li
		&.is-active
			label
				background: $red
				color: #FFF 
	label
		display: block
		+no-sel 
		cursor: pointer
	span
		display: block
		padding: 4px 7px
		background: #f5f5f5
		color: #7da7d9 
	input
		display: none
		&:checked + span			
			background: $red 
			color: #FFF 
	.my
		padding: 10px
	.my__stats-on, .my__stats-off
		.my__setting
			padding: 5px 5px 5px 15px
		.my__drag
			width: 8px
			height: 24px
		.switch
			padding: 3px 40px 3px 0
			font-size: 10px
	.my__stats-on
		margin-bottom: 10px
.dropdown__list-main
	padding: 10px
	background: #FFF 
.dropdown__list-sub
	padding: 10px 10px 5px	 
	& > li
		li
			margin-bottom: 5px
.title__all
	display: none
	float: right
	+rt(720)
		display: block
		a
			position: relative
			display: block
			height: 30px			
			padding-right: 10px
			font-size: 10px
			color: #7da7d9
			font-weight: 600
			line-height: 30px
			&:after
				content: ""
				position: absolute
				top: 12px
				right: 0
				+s(title-arr-mod) 
.title
	padding-bottom: 15px
	text-transform: uppercase
	color: $red
	font-size: 16px
	font-weight: bold
.title_mob
	+rt(720)
		padding: 0 10px 10px
		font-size: 10px
.title_sm
	font-size: 14px 
.title_dark
	color: #363636 
.title-sm
	margin-bottom: 15px
	font-weight: 600
	font-size: 14px
	+rt(720)
		margin-bottom: 7px
		font-size: 12px
.title_border
	margin-bottom: 15px
	border-bottom: 2px solid $bc
	+rt(720)
		border-bottom: 1px solid $bc  
.title-big
	margin-bottom: 20px
	+f
	font-size: 30px
	font-weight: bold
	line-height: 1.2
	color: #252525 
	+rt(720)
		margin-bottom: 10px
		font-size: 14px
//
.sidebar
	position: fixed
	top: 0
	left: auto
	bottom: 0
	right: auto
	width: 192px
	+trans(width .2s linear)
	overflow: hidden
	z-index: 100
	+rt(1200)
		left: 0
		width: 25px
		&.is-show
			width: 192px + 45px
			.sidebar__btn
				background: $red 
				i
					+s(sidebar-arr-a)
			.sidebar__in
				padding-left: 45px
	+rt(720)
		position: relative
		width: 100%		
		overflow: visible 
.sidebar__in
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	width: 180px
	padding-right: 10px
	border-right: 2px solid $bc 
	background: rgb(255,255,255) 
	background: rgba(255,255,255,.9)
	+trans(padding-left .2s linear)
	+rt(1200)
		padding-left: 15px
	+rt(720)
		position: relative
		width: 100%
		height: 47px
		padding: 0
		border: none
		background: #252525
.sidebar__user
	display: none
	height: 39px
	padding: 4px
	background: #1e1e1e 
	.btn
		width: 100%
		height: 39px
		font-size: 0
		i, span
			display: inline-block
			vertical-align: middle
		i
			margin-right: 9px
			+s(sidebar-enter) 
		span
			font-size: 16px
	a
		display: block
		padding: 4px 4px 4px 16px
		height: 31px
		background: #FFF
		white-space: nowrap
		-ms-text-overflow: ellipsis
		text-overflow: ellipsis
		line-height: 31px 
		font-size: 16px
		overflow: hidden
		img
			float: right
	+rt(720)
		display: block
.sidebar__menu	
	+rt(720)
		position: absolute
		top: 0
		left: 0
		width: 80%
		padding-left: 20%
		background: #fff 
		-webkit-transform: translate3d(-100%, 0, 0)
		-moz-transform: translate3d(-100%, 0, 0)
		transform: translate3d(-100%, 0, 0)
.sidebar__btn-menu, .sidebar__btn-settings
	position: absolute
	top: 0
	display: none
	width: 47px
	height: 47px
	background: none 
	font-size: 0
	i
		display: inline-block
		vertical-align: middlem 
	+rt(720)
		display: block
.sidebar__btn-menu
	left: 0
	i
		+s(sidebar-menu)
	&.is-active
		i
			+s(sidebar-menu-a)
.sidebar__btn-settings
	right: 0
	i
		+s(sidebar-settings)
	&.is-active
		i
			+s(sidebar-settings-a)
.sidebar__btn
	display: none
	position: absolute
	top: 0
	left: 0
	bottom: 0
	width: 25px
	background: #ebebeb 
	overflow: visible
	i
		position: absolute
		top: 65px
		left: 9px
		+s(sidebar-arr)
	&:hover
		background: $red 
		i
			+s(sidebar-arr-h)
	+rt(1200)
		display: block
	+rt(720)
		display: none
.tuning
	display: none
	position: absolute
	top: 0
	right: 0
	width: 80%
	padding-right: 20%
	-webkit-transform: translate3d(100%, 0, 0)
	-moz-transform: translate3d(100%, 0, 0)
	transform: translate3d(100%, 0, 0)
	+rt(720)
		display: block	
.tuning__title
	padding: 10px 10px 5px
	font-size: 12px
	color: #7c8896  
.tuning__lang	 
	padding: 15px
	font-size: 0
	a
		display: inline-block
		margin-left: 10px
		padding: 10px
		background: #f1f3f5
		vertical-align: top
		i
			display: block
		&.is-active
			background: $red 
		&:first-child
			margin: 0
.tuning__personal, .tuning__lang
	margin: 0 4px	
	background: #FFF
	.switch
		margin: 12px 0 0 0
		padding: 3px 48px 3px 0
		font-size: 12px
		line-height: 1.2
		i
			left: auto
			right: 0
		&:first-child
			margin: 0
.tuning__personal-item
	padding: 15px
	border-top: 1px solid #f1f3f5 
	&:first-child
		border: none
.tuning__personal-info
	padding: 15px 60px 0 0
	font-size: 9px
	color: #898989 
.tuning__lang-ru
	+s(ru)
.tuning__lang-ua
	+s(ua)
.tuning__lang-eu
	+s(eu)
.logo
	display: block
	padding: 25px 0
	border-bottom: 2px solid $bc 
	text-align: center
	+f
	font-size: 14px
	line-height: 1
	color: #363636 
	strong
		display: block
		font-size: 39px
	span
		font-weight: bold
	+rt(720)
		padding: 12px 0
		border: none
		color: #FFF 
		strong
			font-size: 22px
		span
			display: none
.my-newseek	
	border-bottom: 1px solid $bc
	a
		display: block
		padding: 13px 10px
		font-size: 15px
		font-weight: 600 
		color: #363636 
		&:hover
			color: $red 
	+rt(720)
		border: 4px solid #f1f3f5
		border-width: 0 4px 4px
		a
			padding: 8px 16px
			font-size: 16px
			color: #7da7d9 
.nav
	padding: 13px 10px 15px
	border-bottom: 1px solid $bc 
	li
		margin-top: 7px
		&.is-active
			a
				color: $red
			+rt(720)
				a
					position: relative
					background: $red 
					color: #FFF 
					&:after
						content: ""
						position: absolute
						top: 10px
						right: 10px
						+s(sidebar-link-a)
		&:first-child
			margin: 0
	a
		font-size: 15px
		color: #363636 
		font-weight: 600
		&:hover
			color: $red 
	+rt(720)
		padding: 0
		border: 4px solid #f1f3f5
		border-width: 0 4px 4px
		li
			margin: 0
			border-top: 1px solid #f1f3f5
			&:first-child
				border: none
		a
			display: block
			padding: 8px 16px
			font-size: 16px
			color: #7da7d9
.nav_mod
	li
		margin-top: 10px
	a
		font-size: 13px
		font-weight: normal
		color: #464646
	+rt(720)
		li
			margin: 0
		a
			font-size: 12px
			color: #7da7d9 
.subscribe, .login
	padding: 14px 10px
	a
		color: #363636 
		&:hover
			color: $red 
	+rt(720)
		display: none
.subscribe
	border-bottom: 1px solid $bc 
.login
	+clr
	&.is-active
		a
			color: $red
.login__lang
	float: right
	margin-top: 3px
	font-size: 0
	span
		display: inline-block
		border-bottom: 1px dashed
		line-height: 1 
		vertical-align: middle 
		font-size: 13px
//container
.container
	width: 930px
	padding-left: 220px
	+rt(1200)
		width: auto
		padding: 0 10px 0 40px
	+rt(720)
		padding: 0
.top
	position: relative
	height: 48px
	margin-bottom: 35px
	border-bottom: 2px solid $bc 
	+rt(720)
		display: none
.region
	float: left
	height: 48px
	line-height: 48px
	font-weight: 600 
.region__title
	float: left
	margin-right: 15px
	color: #898989 
.region__list
	float: left
	& > li
		float: left
		&.is-drop
			& > a
				position: relative
				padding: 0 13px 0 15px
				.arr
					margin: 0 0 2px 5px				
			&:hover
				& > a
					&:after, &:before
						content: ""
						position: absolute
						left: 50%
						width: 0px
						height: 0px
						margin-left: -7px
						border-style: solid
						border-width: 0 7px 7px 7px	
						z-index: 1005
					&:before		
						bottom: 0px
						border-color: transparent transparent $bc transparent		
					&:after
						bottom: -1px
						border-color: transparent transparent #fff transparent
				.arr
					border-width: 0 4px 4px 4px
					border-color: transparent transparent #000 transparent
				.region__drop
					display: block				
		&.is-active
			&:hover
				background: none
			& > a
				box-shadow: 0 2px 0 0 #000, 0 -1px 0 0 #000 inset			
				color: #000 
				cursor: default	
			.arr
				border-color: #000 transparent transparent transparent		 
		&:hover
			background: #f5f5f5
			& > a
				color: #000
		& > a
			display: block
			padding: 0 15px					  
.region__drop
	display: none
	position: absolute
	top: 100%
	left: 0
	right: 0
	padding: 24px 30px
	background: #FFF
	border: 1px solid $bc 
	line-height: 1.4
	z-index: 1000 
	ul
		float: left
		width: 20%
		margin-right: 5%
	li
		margin-top: 15px
		&:first-child
			margin: 0
		&.is-active
			a
				color: #363636 
.arr
	display: inline-block
	width: 0px
	height: 0px
	border-style: solid
	border-width: 4px 4px 0 4px
	border-color: $blue transparent transparent transparent
	vertical-align: middle
.search
	float: right
	height: 28px
	margin: 9px 0 0 22px
	border: 1px solid $bc
.search_sidebar
	position: relative
	display: none
	float: none
	margin: 0
	border: 4px solid #f1f3f5
	box-shadow: 0 0 0 1px #c5ced9 inset
	.search__btn
		position: absolute
		top: 0
		left: 0
	.search__field 
		width: 100%
		padding: 0 10px 0 28px
		background: none
		+box	
		font-size: 12px
	+rt(720)
		display: block
.search__btn
	float: left
	width: 28px
	height: 28px
	background: none
	font-size: 0
	i
		display: inline-block
		+s(search)
.search__field 	
	float: left
	width: 132px
	height: 28px
	padding-right: 7px
.lang
	position: relative
	float: right
	&:hover
		.lang__current
			background: #f5f5f5
			color: #363636 
			.border
				display: none
			.arr
				border-width: 0 4px 4px 4px
				border-color: transparent transparent #000 transparent
			&:after, &:before
				content: ""
				position: absolute
				left: 50%
				width: 0px
				height: 0px
				margin-left: -7px
				border-style: solid
				border-width: 0 7px 7px 7px	
				z-index: 1005
			&:before		
				bottom: 0px
				border-color: transparent transparent $bc transparent		
			&:after
				bottom: -1px
				border-color: transparent transparent #fff transparent
		.lang__drop
			display: block
.lang__current
	position: relative
	height: 48px
	padding: 0 18px
	line-height: 48px
	font-size: 0
	cursor: pointer
	color: $blue
	& > span
		display: inline-block
		vertical-align: middle
		font-size: 13px
	.border
		content: ""
		position: absolute
		top: 13px
		right: 0
		height: 22px
		border-left: 1px dashed $bc
	.arr
		margin: 2px 0 0 5px	
.lang__ru, .lang__ua, .lang__eu
	display: inline-block
	margin-right: 7px
	vertical-align: middle
.lang__ru
	+s(ru)
.lang__ua
	+s(ua)
.lang__eu
	+s(eu)
.lang__drop 	
	display: none
	position: absolute
	top: 100%
	left: -30px
	padding: 14px 15px 14px 20px
	background: #FFF
	border: 1px solid $bc 
	font-size: 0
	z-index: 1000
	li
		height: 20px
		margin-bottom: 2px
		line-height: 20px
		white-space: nowrap
		span, strong
			display: inline-block
			vertical-align: middle
			font-size: 12px
		span
			color: #363636 
		strong
			margin-left: 7px
			font-weight: normal
		&.is-active
			span, strong
				color: $red 
//footer
.footer
	position: relative
	background: #ebebeb 
	z-index: 200 
.footer__in
	height: 60px
	+rt(720)
		height: 36px
.copyright
	float: left
	width: 222px 
	line-height: 60px
	color: #898989 
	+rt(720)
		width: auto
		padding-left: 10px
		line-height: 36px
		font-size: 9px
.mail
	float: left
	line-height: 60px
	+rt(720)
		display: none
.social
	float: right
	margin-top: 10px
	li
		float: left
		margin-left: 6px
		&:first-child
			margin: 0
		a
			display: block
			width: 37px
			height: 40px
			background: #FFF 
			text-align: center
			line-height: 40px
			font-size: 0
		i
			display: inline-block
			vertical-align: middle
		+rt(720)
			margin-left: 3px
			a
				width: 28px
				height: 30px
				line-height: 30px
	+rt(720)
		margin: 3px
.social__vk
	i
		+s(vk)
		+rt(720)
			+s(vk-mob)
.social__gp
	i
		+s(gp)
		+rt(720)
			+s(gp-mob)
.social__fb
	i
		+s(fb) 
		+rt(720)
			+s(fb-mob)
.social__tw
	i
		+s(tw)
		+rt(720)
			+s(tw-mob)
//form
.checkbox, .radio
	display: block
	position: relative
	padding-left: 28px 
	+no-sel
	input, i
		position: absolute
		left: 0
	input
		top: 2px
		opacity: 0
		z-index: 5 
		&:checked + i
			&:after
				content: ""
				position: absolute
				top: 3px
				left: 2px
				+s(check)
	i
		top: 0
		left: 0
		width: 14px
		height: 14px
		border: 2px solid #707070
.radio
	i
		border-radius: 50%
	input
		&:checked + i
			&:after
				left: 3px
				width: 8px
				height: 8px
				background: #000 
				border-radius: 50%
.field__input
	input
		width: 100%
		height: 38px
		padding: 0 15px
		border: 1px solid #acacac
		+box
		+rt(720)
			height: 28px
			padding: 0 7px
			font-size: 11px
	&.is-error
		input
			border-color: $red 
.field__area
	textarea
		display: block
		width: 100%
		padding: 7px 12px
		border: 1px solid #acacac
		resize: vertical
		+box
.btn
	height: 38px
	padding: 0 15px
	background: #f5f5f5  
	color: #898989 
	font-weight: 600 
	&.is-active
		background: $red 
		color: #fff 
.btn_invercion
	background: #FFF
.btn_blue
	background: $blue
	color: #FFF  
.select
	position: relative
	cursor: pointer
	+no-sel
	&.is-active
		ul
			display: block
	span
		position: relative
		display: block		
		height: 28px
		padding: 0 25px 0 10px
		border: 1px solid $bc
		overflow: hidden
		white-space: nowrap
		-ms-text-overflow: ellipsis
		text-overflow: ellipsis
		line-height: 28px
		color: #555 
		&:after
			content: ""
			position: absolute
			top: 12px
			right: 7px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 4px 4px 0 4px
			border-color: #555 transparent transparent transparent
	ul
		display: none
		position: absolute
		top: 100%
		left: 0
		right: 0
		max-height: 200px
		border: 1px solid $bc
		border-width: 0 1px 1px
		background: #FFF 
		overflow: auto
		z-index: 1000 
		li
			padding: 5px 10px
			&:hover
				background: $bc
				color: #000  
.select_year
	width: 65px 
.select_month
	width: 100px 
.select_day
	width: 55px 

	