@import "base"
//styles for inner pages
.news-region-current
	+rt(720)
		display: none
//news
.news
	padding-bottom: 30px
	margin-bottom: 25px
	border-bottom: 1px solid $bc
	+rt(720)
		margin: 0
		padding-bottom: 10px
		border: none
.news_grid
	padding-bottom: 20px
	+clr
	& > .news__item
		display: table
		padding: 0
		margin: 0 0 25px 0
		border: none
		.news__title			
			a
				font-size: 22px
			span
				font-size: 11px
		.news__text
			font-size: 13px
	+rt(960)
		.news__list
			float: none
			width: auto
			margin: 0 0 25px 0
	+rt(720)
		padding-bottom: 0
		& > .news__item	
			margin: 0
			padding: 10px
			border-top: 1px solid $bc 	
			.news__title	
				margin: 0
				a
					font-size: 12px
				span
					font-size: 8px 
		.news__list
			float: none
			width: auto
			margin: 0 0 10px 0
.news_no-border 	
	border: none
.news_all
	border: none
	.news__title
		a
			font-size: 22px
			+rt(720)
				font-size: 12px
.news_bg
	padding: 0
	border: none
	.news__item
		padding: 20px
		margin: 0
		background: #f5f5f5 
		&:first-child
			padding: 20px
		+rt(720)
			padding: 10px
			margin-bottom: 15px
			&:first-child
				margin-bottom: 15px
				padding: 10px
.news_sm
	padding: 0
	border: none
	.news__item
		padding-top: 10px
		margin-top: 10px
		a
			font-family: 'Open Sans', Arial, Tahoma, sans-serif
			font-size: 13px
			font-weight: 600 
		span
			font-size: 11px
		.news__status
			font-size: 13px
	.news__more
		text-align: center
	+rt(720)
		margin-bottom: 10px
.news__item
	padding-top: 20px
	margin-top: 20px
	border-top: 1px dashed $bc 
	+clr
	&:first-child
		padding: 0
		margin: 0
		border: none
	&:hover
		.news__title
			a
				color: $blue 
		.read
			display: block
			+rt(720)
				display: none
	+rt(720)
		padding: 10px 10px 0 10px
		margin-top: 10px
		border-top: 1px solid $bc 
		&:first-child
			padding: 0 10px
.news__more
	padding-top: 20px
	.btn
		min-width: 90px
	+rt(720)
		display: none
.news__pic
	position: relative
	float: left
	margin-right: 15px 
	img
		display: block
		width: 100%
	.read
		display: none
		position: absolute
		right: 5px
		bottom: 5px
	+rt(720)
		margin-right: 10px
		width: 90px 
.read
	position: relative
	button
		width: 28px
		height: 28px
		background: $blue
		border: 1px solid #2157a1
		font-size: 0
		i
			display: inline-block
			+s(read)
		+rt(720)
			width: 20px
			height: 20px
	&:hover
		button
			background: $red 
			border-color: $red
		.tooltip
			display: block
	&.is-active
		button
			background: #3cb878
			border-color: #3cb878 
			i
				+s(ok)
.tooltip
	display: none
	position: absolute
	bottom: 34px
	left: 50%
	width: 200px
	margin-left: -100px
	text-align: center
	font-size: 0
	z-index: 1100 
	span
		position: relative
		display: inline-block
		padding: 2px 7px
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.8) 
		color: #FFF 
		font-size: 12px
		&:after
			content: ""
			position: absolute
			bottom: -5px
			left: 50%
			margin-left: -5px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 5px 5px 0 5px
			border-color: rgb(0,0,0) transparent transparent transparent
			border-color: rgba(0,0,0,.8) transparent transparent transparent
.news__in
	display: table
.news__title
	margin-bottom: 5px
	line-height: 1.2
	a
		+f
		font-weight: bold
		font-size: 26px
		color: #252525 		
		&:hover
			text-decoration: underline
	span
		margin-left: 5px
		text-decoration: none
		font-family: 'Open Sans', Arial, Tahoma, sans-serif
		font-size: 13px
		font-weight: 600 
		color: #898989 
		+rt(720)
			font-size: 8px
	.news__status
		font-size: 13px
		color: #3cb878 
	+rt(720)
		margin: 0
		a
			font-size: 12px
.news__text	
	margin-bottom: 15px
	font-size: 14px
	p
		margin-top: 15px
		&:first-child
			margin: 0
	+rt(720)
		display: none
.news__list
	float: right
	width: 325px
	margin-left: 20px
	.news__item
		padding-top: 10px
		margin-top: 10px
		&:first-child
			padding: 0
			margin: 0
	.news__title
		margin: 0 
		a			
			font-family: 'Open Sans', Arial, Tahoma, sans-serif
			font-size: 13px
			font-weight: 600 
		span
			font-size: 11px
	+rt(720)
		.news__item
			&:first-child
				padding: 0 10px
		.news__title
			a			
				+f
				font-size: 12px
				font-weight: bold
			span
				font-size: 8px 
.news__btn-load
	width: 100%
	height: 70px
	margin-top: 35px
	background: #f5f5f5 
	color: $blue 
	+rt(720)
		margin-top: 10px
		height: 35px
		color: #7da7d9 
//fresh-news
.latest
	position: fixed
	bottom: 70px
	right: 10px
	width: 360px 
	+rt(720)
		right: 0
		left: 0
		bottom: 0
.latest__item	
	padding: 15px
	margin-top: 10px
	background: #FFF
	//border: 2px solid rgb(54,54,54)
	box-shadow: 0 0 0 2px rgba(54,54,54,.25)
	background: #FFF 
.latest__head
	position: relative
	padding: 0 25px 10px 0
	margin-bottom: 17px
	border-bottom: 1px dashed #ccc 
	span
		color: #898989 
.latest__close
	position: absolute
	top: 5px
	right: 0
	+s(close)
.latest__in
	+clr
.latest__pic
	float: left
	margin-right: 10px 
.latest__title
	a
		color: #363636 
	span
		margin-left: 3px
		font-size: 11px
		color: #898989 
//weather
.weather
	margin-bottom: 25px
	overflow: hidden
//text
.text
	padding: 20px
	margin-bottom: 25px
	background: #f5f5f5 
	p
		margin-top: 20px
		&:first-child
			margin: 0 
	+rt(720)
		padding: 10px
		margin-bottom: 10px
		p
			margin-top: 10px
			font-size: 9px 
			&:first-child
				margin: 0
//select
.select-btn
	color: $blue
	cursor: pointer
	+no-sel
	.arr
		margin-left: 4px
//sort
.sort
	float: right
	margin: 3px 0 -3px
	li
		float: left
		&.is-active
			a
				color: #000 
				border-bottom: 3px solid 
				cursor: default
	a
		position: relative
		display: block
		padding: 0 10px 16px
	+rt(720)
		display: none
//user
.user
	padding-top: 25px
	+rt(720)
		padding: 10px
.user__head
	padding-bottom: 25px
	margin-bottom: 20px
	border-bottom: 1px solid $bc
	+clr
	+rt(720)
		margin-bottom: 10px
		padding-bottom: 10px
.user__pic
	float: left
	position: relative
	margin-right: 15px
	img
		display: block
	button
		position: absolute
		bottom: 10px
		left: 10px
		right: 10px
		height: 26px
		background: rgb(0,0,0) 
		background: rgba(0,0,0,.75) 
		font-size: 12px
		font-weight: 600 
		color: #fff 
.user__detail
	float: left
	+rt(720)
		float: none
		margin-bottom: 5px
		padding-bottom: 5px 
		border-bottom: 1px dashed $bc 
		overflow: hidden
.user__name
	font-size: 21px
	font-weight: 600 
	+rt(720)
		font-size: 14px
.user__mail
	font-style: italic
	color: #898989 
	+rt(720)
		font-size: 12px 
.user__out
	float: right
	padding: 20px 30px
	border-left: 1px dashed $bc 
	font-size: 0
	button
		+s(user-out)
	+rt(720)
		display: none
.user__subscribe
	float: right
	height: 100px
	padding: 0 30px 
	border-left: 1px dashed $bc
	+rt(720)
		float: left
		height: auto
		padding: 0
		border: none
.mailing__title
	font-size: 15px
	+rt(720)
		font-size: 12px
.mailing__status
	margin-bottom: 20px
	font-style: italic
	color: #39b54a  
	+rt(720)
		margin: 0
.mailing__links
	+rt(720)
		+clr
		li
			float: left
			margin-right: 10px
			font-size: 10px 
//tabs
.tabs__content
	+rt(720)
		.title
			display: none
.tabs__nav
	margin-bottom: 10px
	font-size: 0
	button
		height: 30px
		padding: 0 20px
		margin-right: 10px 
		background: #f5f5f5  
		color: $blue
		font-size: 18px
		&.is-active
			position: relative
			background: $red
			color: #fff  
			&:after
				content: ""
				position: absolute
				top: 100%
				left: 50%
				margin-left: -8px
				width: 0px
				height: 0px
				border-style: solid
				border-width: 8px 8px 0 8px
				border-color: $red transparent transparent transparent 
		+rt(720)
			font-size: 11px
	+rt(720)
		margin-bottom: 15px
//switch
.switch
	display: block
	position: relative
	margin-bottom: 10px
	padding: 1px 0 1px 50px 
	cursor: pointer
	+no-sel
	input, i
		position: absolute
		top: 0
		left: 0
	input
		opacity: 0
		&:checked + i
			border-color: #acd373
			&:after
				left: 0
				background: #acd373 
	i
		position: absolute
		top: 0
		left: 0
		width: 37px
		height: 18px
		background: #FFF 
		border: 1px solid #acacac
		+trans(all .1s linear)
		&:after
			content: ""
			position: absolute
			left: 18px
			top: 0
			right: 0
			width: 19px
			height: 18px
			background: #acacac
			+trans(all .1s linear)
	+rt(720)
		margin-bottom: 3px
		padding: 3px 0 3px 50px 
		font-size: 10px
//setting
.setting
	padding-bottom: 10px
	margin-bottom: 25px
	border-bottom: 1px solid #ccc 
	+clr
	+rt(720)
		padding-bottom: 0
		margin-bottom: 10px 
		border: none
.setting_main-page, .setting_lang
	+rt(720)
		display: none
.setting__column
	float: left
	width: 240px
	margin-right: 20px
	.radio
		margin-bottom: 12px
	+rt(720)
		float: none
		margin: 0 0 15px
.setting__mail
	span
		margin-right: 5px
		font-weight: 600
		color: #898989
	a
		font-style: italic
.setting__social-list
	margin-bottom: 20px
	+clr
	li
		float: left
		margin-right: 10px
		text-align: center
		a
			font-size: 12px
	+rt(720)
		margin-bottom: 10px
.setting__social-text
	+rt(720)
		font-size: 9px
.setting__social-item
	width: 108px
	height: 78px
	margin-bottom: 5px
	padding-top: 30px
	border: 1px solid #dbdbdb
	background: #f5f5f5
	span
		display: block
		color: #898989
	+rt(720)
		width: 78px
		height: 68px
		padding-top: 10px
		span
			font-size: 9px
//keywords
.keywords
	margin-bottom: 50px
	.title
		+rt(720)
			display: block
			padding-bottom: 10px
			font-size: 12px
			color: #363636 
			text-transform: none
			font-weight: 600 
	+rt(720)
		margin-bottom: 10px
.keywords_mod
	margin: 0
	.field
		margin-bottom: 30px 
		+rt(720)
			margin-bottom: 10px
.keywords__text
	margin-bottom: 20px
	a
		display: inline-block
		border-bottom: 1px dashed 
		line-height: 1
	+rt(720)
		margin-bottom: 10px
		font-size: 9px
.keywords__list
	margin-bottom: 20px 
	+clr
	li
		float: left
		margin-right: 10px		
		a
			display: block
			border-bottom: 1px dashed 
			line-height: 1
			+rt(720)
				font-size: 11px
	+rt(720)
		margin-bottom: 10px
//change-pass
.change-pass
	.field
		margin-bottom: 10px
	.btn-wrap
		margin-top: 20px
		+rt(720)
			margin-top: 0
//archive-link
.archive-link
	float: right
	height: 30px
	padding: 0 10px 0 20px
	margin: -6px 0 0 20px
	border-left: 1px solid $bc 
	line-height: 30px
	+rt(720)
		display: none
//sort-date
.sort-date
	margin: -20px 0 30px 0
	padding-bottom: 10px
	border-bottom: 1px dashed $bc 
	+clr
	.select
		float: right
		margin-left: 10px
	+rt(720)
		display: none
//detail
.detail
	padding-bottom: 10px
	margin-bottom: 30px
	border-bottom: 1px solid $bc 
	+clr
	.title
		float: left
		padding: 0
		+rt(720)
			font-size: 10px
	.read
		float: right
		margin-top: -4px
		+rt(720)
			margin: -3px 0
	+rt(720)
		background: #f5f5f5 
		padding: 10px
		margin: 0
		border: none
		font-size: 10px
.detail__item
	float: left
	padding-left: 15px
	margin: 1px 0 0 15px
	border-left: 1px dashed $bc 
	font-weight: 600 
	+rt(720)
		margin: 0 0 0 15px
.detail__item_mod
	float: right
	padding-right: 10px
	color: #252525 
	span
		color: #898989 
	+rt(720)
		display: none
//article
.article
	padding-bottom: 10px
	+clr	
	& > img
		float: right
		margin: 0 0 20px 20px
		+rt(720)
			float: none
			width: 100%
			margin: 0 0 10px
	p
		margin-bottom: 20px
		+rt(720)
			margin-bottom: 10px
	+rt(720)
		padding: 10px
		margin-bottom: 10px
		font-size: 11px
.article__video
	margin-bottom: 20px
	img
		width: 100%
.article__detail
	margin-bottom: 20px
	+clr
.article__source
	float: right
	margin-top: 2px
	font-size: 12px
	color: #898989 
.artcle__detail-in
	display: table
	font-weight: 600 
//gallery
.gallery
	margin-bottom: 30px
	+rt(720)
		margin-bottom: 10px
.gallery__big
	img
		width: 100%
	.cycle-prev, .cycle-next
		position: absolute
		top: 50%
		width: 50px
		height: 50px
		background: red 
		z-index: 200 
	.cycle-prev
		left: 0
	.cycle-next
		right: 0
.gallery__small
	position: relative
	padding: 0 42px
	margin-bottom: 30px
	height: 72px
	font-size: 0
.gallery__list
	width: 100% !important
	padding: 2px
	div
		padding: 2px
		margin-right: 8px
		img
			display: block
			opacity: .5 
		&.cycle-slide-active
			box-shadow: 0 0 0 2px $red inset
			img
				opacity: 1 
.gallery__prev, .gallery__next
	position: absolute
	top: 2px
	width: 30px
	height: 72px
	background: #f5f5f5
	font-size: 0
	i
		display: inline-block
		vertical-align: middle
	&.disabled
		cursor: default
		i
			opacity: .3
.gallery__prev
	left: 0
	i
		+s(prev)
.gallery__next
	right: 0
	i
		+s(next)
.gallery__detail
	padding: 5px 0 20px	
	+clr
	+rt(720)
		padding: 5px 0
.gallery__detail-in
	display: table
	font-size: 14px
	font-weight: 600 
	span
		float: left
		margin-right: 20px
		color: #898989
		font-weight: normal
		i
			margin: 0 5px
			font-style: italic
	+rt(720)
		font-size: 9px
.gallery__source
	float: right
	margin-top: 2px
	font-size: 12px
	color: #898989 
	+rt(720)
		font-size: 9px
//panel
.panel
	padding: 17px 0
	margin-bottom: 25px
	border: 1px solid $bc  
	border-width: 1px 0
	.share
		float: right
		margin-top: 8px
		+rt(720)
			display: none
	+rt(720)
		padding: 10px 20px
		margin: 0 -10px 10px 
//l
.l
	+clr
.l__col-1
	float: left
	width: 570px
	margin-right: 30px
	+rt(720)
		float: none
		width: auto
		margin: 0
.l__col-2 
	overflow: hidden
.l_comm
	.l__col-1
		display: none
	&.is-show
		.l__col-1
			display: block
		+rt(1200)
			.l__col-2
				display: none
//comm
.comm
	margin-bottom: 30px
	+rt(720)
		margin-bottom: 10px
		padding: 0 10px
.comm__info
	margin-bottom: 20px
	padding: 10px
	background: #f5f5f5 
	text-align: center
	line-height: 1.5
	+rt(720)
		font-size: 11px 
.comm__item, .comm__form
	padding-bottom: 15px
	margin-bottom: 15px
	border-bottom: 1px dashed $bc 
	+clr
.comm__pic
	float: left
	margin-right: 10px 
	img
		display: block
.comm__detail
	display: table
.comm__user
	margin-bottom: 2px
	a
		margin-right: 4px
		font-size: 12px
		font-weight: 600 
		color: #363636 
	span
		font-size: 11px
		color: #898989 
.comm__reply
	padding-left: 20px 
.comm__text
	line-height: 1.2
	+rt(720)
		font-size: 11px
.comm__banned
	line-height: 36px
	font-style: italic
	color: #898989 
.comm__form, .comm__form-in
	overflow: hidden
.comm__form-in
	.field__area	
		margin-bottom: 10px
		textarea
			height: 36px
			+rt(720)
				font-size: 11px
	.btn
		height: 34px
//popup
.overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: 200px 0
	background: rgba(0,0,0,.5) 
	overflow: auto
.popup
	position: relative
	width: 620px
	padding: 45px 50px
	margin: 0 auto
	background: #FFF
.popup_enter
	width: 535px 
.popup_reg
	width: 520px 
.popup_mail
	width: 580px
.popup__close
	position: absolute
	top: 20px
	right: 20px
	+s(popup-close) 
.popup__content
	p
		padding-top: 15px
		font-size: 14px
		&:first-child
			padding: 0 
		i
			color: #898989 
.popup__footer 	
	padding: 35px 50px
	margin: 0 -50px -45px
	background: #f5f5f5  
	font-size: 18px
	font-weight: 600 
.popup__title
	margin-bottom: 25px 
	font-weight: 600 
	font-size: 18px
.popup__title_mod
	margin-bottom: 10px
	font-weight: normal 
.popup__subscribe
	margin-bottom: 35px 
	.field__input
		width: 260px
.popup__subscribe_edit
	.field
		font-size: 0
	.field__input, .field__value, .field__edit
		display: inline-block
		vertical-align: middle
	.field__input
		margin-right: 5px
	.field__value
		margin-right: 5px
		font-size: 18px
		font-style: italic
	.field__edit
		margin-top: 3px
		font-style: italic
		font-size: 13px
.popup__cat
	margin-bottom: 40px
.popup__cat-list
	+clr
	ul
		float: left
		margin-left: 30px
		&:first-child
			margin: 0
		li
			margin-top: 12px
			&:first-child
				margin: 0
.popup__message
	margin: 40px -50px -45px
	padding: 15px 50px
	background: #ff6262
	font-size: 14px
	color: #FFF
	font-weight: 600   
//mob
.mob__nav	
	padding: 0 10px
	background: #f5f5f5 	
	+clr
	a
		float: right
		height: 30px
		line-height: 30px
		font-size: 10px
		text-transform: uppercase
		font-weight: bold 
		color: #7da7d9
		&:first-child
			float: left
		&.is-active
			color: $red 
.mob__in
	padding: 10px
	.btn
		width: 100%
	.enter__form
		margin-bottom: 15px
		.field
			margin-bottom: 5px
		.field__input
			float: none
			margin-bottom: 10px
			width: 100%
			&:first-child
				margin: 0 0 10p
	.enter__social
		margin-bottom: 10px
		text-align: center
		li
			margin-left: 0
			padding-left: 10px
			&:before
				display: none
	.reg
		.field
			margin: 0
		.field__input
			margin: 0 0 10px 0
			width: 100%
			&:first-child
				margin-bottom: 10px
	.new-mail 
		.field
			.field__input, .field__input_mod
				width: 100%
				margin-bottom: 10px		
	.keywords_mod
		.field, .keywords__list
			margin-bottom: 10px
.mob__title 
	margin-bottom: 10px 
	font-size: 11px
	font-weight: 600 
.mob__content
	p
		margin-bottom: 10px
		font-size: 14px
		i
			color: #7da7d9
			font-style: italic
.mob__message
	margin-top: 20px
	height: 35px
	background: #ff8989
	font-size: 12px
	color: #fff   
	line-height: 35px
	font-weight: 600 
	text-align: center
.mob__cat
	margin-bottom: 15px
	.switch
		margin-bottom: 5px
//enter
.enter__social
	margin-bottom: 45px
	font-size: 0
	li
		position: relative
		display: inline-block
		padding-left: 20px
		margin-left: 20px
		vertical-align: middle
		a
			display: block
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 0
			width: 1px
			height: 34px
			margin-top: -17px
			border-left: 1px dashed $bc 
		&:first-child
			padding: 0
			margin: 0
			&:before
				display: none
.enter__fb
	+s(enter-fb)
.enter__gp
	+s(enter-gp)
.enter__tw
	+s(enter-tw)
.enter__lj
	+s(enter-lj)
.enter__in
	+s(enter-in)
.enter__bl
	+s(enter-bl)
.enter__ig
	+s(enter-ig)
.enter__form
	margin-bottom: 30px
	.field
		margin-bottom: 20px
		+clr
	.field__input
		float: left		
		width: 250px
		&:first-child
			margin-right: 30px
//reg
.reg
	.field
		margin-bottom: 20px
		+clr
	.field__input
		float: left
		width: 250px
		margin-left: 20px
		&:first-child
			margin: 0
	.btn
		margin-top: 10px
//my
.my__text
	margin-bottom: 25px
	font-size: 14px
	font-weight: 600 
.my__setting
	padding: 12px 10px 12px 20px
	background: #f5f5f5 
	+no-sel
	.switch
		padding: 0 50px 0 0 
		margin: 0
		font-size: 14px
		font-weight: 600 
		input, i
			left: auto
			right: 0
.my__main
	margin-bottom: 55px
	.my__setting
		margin-bottom: 5px
.my__main-text
	font-size: 12px
.my__stats-on, .my__stats-off
	.my__setting
		position: relative
		padding-left: 30px
		margin-bottom: 2px 
.my__stats-on
	margin-bottom: 20px 
.my__drag
	position: absolute
	top: 3px
	left: 3px
	+s(drag)
//new-mail
.new-mail
	.field
		.field__input
			margin-bottom: 20px
		.field__input_mod
			width: 140px 
//my-page
.my-page
	+rt(720)
		padding: 0 10px
		.title_dark
			padding-bottom: 10px
			font-size: 10px